body{

    background-color: #F0F0F0;
}
header{
    font-family: "Playpen Sans Arabic", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  background-color: #F5EFE6;
  text-align: center;
  padding: 40px;
  margin: 30px;
  border-radius: 10px;
  box-shadow: 0 40px 12px rgb(0, 0, 0.2);
  transition: transform 0.3s ease, background-color 0.3s ease;
}
header:hover{
transform: scale(1.05);
    background-color: bisque;
}

.image{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15px;
}

.image-box{

width: 300px;
text-align: center;
background-color: #647FBC;
padding: 15px;
border-radius: 15px;
box-shadow: 0 12px 40px;
transition: transform 0.3 ease, background-color 0.3 ease;

}
.image-box:hover{
    transform: scale(0.9.1);
        background-color: white;
    }
    .image-box img {
        width: 50%;
        height: auto;
        border-radius: 8px;
      }
      .image-box p {
        margin-bottom: 10px;
        font-size: 18px;
        color: #541212;
        font-weight: bold;
        background-color: #F0F0F0;
        border: 3px solid black;
        display: inline-flex;
        padding: 5px;
        
      }
     
     .footer{

background-color: #EBD9D1;
text-align: center;

     }